.main{
  display: grid;
  /* Automatically columns fill rows. Each column must be at least 250px wide */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px; /* Space between cards */
}
